<div class="dashboard-cards">
  <div class="card" *ngFor="let card of cards" [ngClass]="card.style">
    <i class="{{ card.icon }} icon"></i>
    <h4>{{ card.title }}</h4>
    <div class="value">{{ card.value }}</div>
    <div class="info">{{ card.info }}</div>
    <div class="percentage" [ngClass]="{
  'up': isPositive(card.percentage),
  'down': !isPositive(card.percentage)
}">
  <i class="fas" [ngClass]="{
    'fa-arrow-up': isPositive(card.percentage),
    'fa-arrow-down': !isPositive(card.percentage)
  }"></i>
  {{ card.percentage }}
</div>
<div class="progress-bar">
  <div class="fill" [style.width]="getPercentage(card.percentage)"></div>
</div>

  </div>
</div>

<div class="tabela-container">
  <h2 class="titulo-tabela">Últimos movimentos</h2>

  <div class="filtros-container">
<div class="search-group">
  <i class="bi bi-search search-icon"></i>
  <input
    type="text"
    class="search-input"
    placeholder="Pesquisar..."
    [(ngModel)]="searchTerm"
  />
  <i
    *ngIf="searchTerm"
    class="bi bi-x-lg clear-icon"
    (click)="searchTerm = ''"
  ></i>
</div>




    <div class="filtros-selects">
      <div class="dropdown filtro-item" dropdown>
        <label>Mês</label>
        <button
          dropdownToggle
          type="button"
          class="btn btn-light d-flex justify-between w-100 align-items-center"
        >
          {{ filtro.mes || 'Todos' }}
          <i class="bi bi-chevron-down ms-auto"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu w-100 shadow border-0">
          <li>
            <a class="dropdown-item" (click)="filtro.mes = ''">Todos</a>
          </li>
          <li *ngFor="let mes of meses">
            <a class="dropdown-item" (click)="filtro.mes = mes">{{ mes }}</a>
          </li>
        </ul>
      </div>

      <div class="dropdown filtro-item" dropdown>
        <label>Ano</label>
        <button
          dropdownToggle
          type="button"
          class="btn btn-light d-flex justify-between w-100 align-items-center"
        >
          {{ filtro.ano || 'Todos' }}
          <i class="bi bi-chevron-down ms-auto"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu w-100 shadow border-0">
          <li>
            <a class="dropdown-item" (click)="filtro.ano = ''">Todos</a>
          </li>
          <li *ngFor="let ano of anos">
            <a class="dropdown-item" (click)="filtro.ano = ano.toString()">{{ ano }}</a>
          </li>
        </ul>
      </div>


      <button class="btn-filtrar" (click)="filtrar()">Filtrar</button>
    </div>
  </div>




  <table class="tabela-movimentos">
    <thead>
      <tr>
        <th>Ano</th>
        <th>Mês</th>
        <th>Tipo</th>
        <th>Nº</th>
        <th>Entidade</th>
        <th>Criado por</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movimento of movimentos">
        <td>{{ movimento.ano }}</td>
        <td>{{ movimento.mes }}</td>
        <td>{{ movimento.tipo }}</td>
        <td>{{ movimento.numero }}</td>
        <td>{{ movimento.entidade }}</td>
        <td>{{ movimento.criadoPor }}</td>
        <td>{{ movimento.data | date: 'dd/MM/yyyy' }}</td>
        <td>{{ movimento.valor | currency:'AOA':'symbol' }}</td>
        <td><a [href]="movimento.documento" target="_blank">Ver</a></td>
      </tr>
    </tbody>
  </table>
</div>
