<!-- Botão para novo cliente -->
<div class="artigos-header text-center my-4">
  <div class="icon-circle mx-auto">
    <i class="bi bi-file-earmark-text"></i>
  </div>
  <h3>Clientes</h3>
  <button type="button" class="btn-hover-gradient" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Novo Cliente
    <i class="bi bi-plus-lg ms-2"></i>
  </button>
 
</div>

<!-- Campo de pesquisa -->
<div class="filtros-container mb-3">
  <div class="search-group d-flex align-items-center">
    <i class="bi bi-search me-2"></i>
    <input type="text" class="form-control search-input" placeholder="Pesquisar..." aria-label="Pesquisar clientes" />
  </div>
</div>

<!-- Tabela de clientes -->
<main class="table" id="customers_table">
 
    <table class="table__body">
      <thead >
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th>Endereço</th>
          <th>Tipo</th>
          <th>Data de Criação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes$ |async">
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.endereco }}</td>
          <td>{{ getTipoClienteNome(cliente.tipo) }}</td>
          <td>{{ cliente.dataCriacao | date:'short' }}</td>
            <td>
            <div class="bnt-action">
              <button type="button" class="btn btn-outline-primary" (click)="populateForm(cliente)" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="bi bi-pencil"></i> Editar
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="deleteCliente(cliente)">
              <i class="bi bi-trash"></i> Eliminar
              </button>
            </div>
            </td>
        </tr>
      </tbody>
    </table>
</main>

<!-- Modal de criação/edição -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            {{ editando ? 'Editar Cliente' : 'Criar Cliente' }}     
          </h1>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input id="nome" class="form-control" type="text" formControlName="nome" required />
            <small class="text-danger" *ngIf="form.controls['nome'].invalid && form.controls['nome'].touched">Nome é
              obrigatório.</small>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" class="form-control" type="email" formControlName="email" required />
            <small class="text-danger" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
              {{ form.controls['email'].errors?.['required'] ? 'Email é obrigatório.' : 'Formato de email inválido.' }}
            </small>
            <small *ngIf="form.get('email')?.hasError('emailExiste')">
              Este e-mail já está cadastrado.
            </small>            
          </div>

          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            
            <div class="input-group">
              <span class="input-group-text">
                <img src="https://flagcdn.com/w20/ao.png" alt="Angola" width="20" height="15" />
                &nbsp;+244
              </span>
              <input type="text" 
                class="form-control" 
                formControlName="telefone" 
                mask="000 000 000" 
                placeholder="Ex: 9 XX XXX XXX"
                maxlength="9" /> 
              </div>
              <small  class="text-danger" *ngIf="form.controls['telefone'].invalid && form.controls['telefone'].touched">Telefone é obrigatório.</small>
              <small class="text-danger"  *ngIf="form.get('telefone')?.errors?.['minlength']">Telefone deve ter 9 caracteres.</small>
            </div>

           <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input id="endereco" class="form-control" type="text" formControlName="endereco" required />
            <small class="text-danger" *ngIf="form.controls['endereco'].invalid && form.controls['endereco'].touched">Endereço
              é obrigatório.
            </small>
           </div>

          <div class="mb-3">

            <label for="tipo">Tipo de Pessoa:</label>
            <select id="tipo" formControlName="tipo" class="form-select">
              <option value="" disabled>Selecione o tipo</option>
              <option *ngFor="let tipo of tipos" [value]="tipo.value">
                {{ tipo.label }}
              </option>
            </select>
            
            <small class="text-danger" *ngIf="form.controls['tipo'].invalid && form.controls['tipo'].touched">Tipo é
              obrigatório.</small>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success" [disabled]="form.invalid">
            {{ editando ? 'Atualizar' : 'Salvar' }}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
