<!-- Botão para novo cliente -->
<div class="container-fluid my-3">
  
  <div class="d-block align-items-center">
    <h3>Clientes</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-plus-lg me-2"></i>Novo Cliente
    </button>
  </div>
</div>

<!-- Campo de pesquisa -->
<div class="filtros-container mb-3">
  <div class="search-group d-flex align-items-center">
    <i class="bi bi-search me-2"></i>
    <input type="text" class="form-control search-input" placeholder="Pesquisar..." aria-label="Pesquisar clientes" />
  </div>
</div>

<!-- Tabela de clientes -->
<main class="table" id="customers_table">
  <section class="table__body">
    <table class=" table-hover">
      <thead >
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th>Endereço</th>
          <th>Tipo</th>
          <!-- <th>Data de Criação</th> -->
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes$ | async">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.endereco }}</td>
          <td>{{ cliente.tipo }}</td>
          <!-- <td>{{ cliente.createdAt | date:'short' }}</td> -->
          <td>
            <button class="btn btn-sm btn-warning me-2" (click)="populateForm(cliente)" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteCliente(cliente.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>

<!-- Modal de criação/edição -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="modal-header">
          <h1 *ngIf="!editando" class="modal-title fs-5" id="exampleModalLabel">
            {{ editando ? 'Editar Cliente' : 'Criar Cliente' }}
          </h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input id="nome" class="form-control" type="text" formControlName="nome" required />
            <small class="text-danger" *ngIf="form.controls['nome'].invalid && form.controls['nome'].touched">Nome é
              obrigatório.</small>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" class="form-control" type="email" formControlName="email" required />
            <small class="text-danger" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
              {{ form.controls['email'].errors?.['required'] ? 'Email é obrigatório.' : 'Formato de email inválido.' }}
            </small>
          </div>

          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input id="telefone" class="form-control" type="text" formControlName="telefone" required />
            <small class="text-danger" *ngIf="form.controls['telefone'].invalid && form.controls['telefone'].touched">Telefone
              é obrigatório.</small>
          </div>

          <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input id="endereco" class="form-control" type="text" formControlName="endereco" required />
            <small class="text-danger" *ngIf="form.controls['endereco'].invalid && form.controls['endereco'].touched">Endereço
              é obrigatório.</small>
          </div>

          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select id="tipo" class="form-select" formControlName="tipo" required>
              <option value="" disabled selected>Selecione o tipo</option>
              <option value="PESSOA_FISICA">Pessoa Física</option>
              <option value="PESSOA_JURIDICA">Pessoa Jurídica</option>
            </select>
            <small class="text-danger" *ngIf="form.controls['tipo'].invalid && form.controls['tipo'].touched">Tipo é
              obrigatório.</small>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button *ngIf="!editando" type="submit" class="btn btn-success" [disabled]="form.invalid">
            {{ editando ? 'Atualizar' : 'Salvar' }}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>