<!-- btn Fornecedorbotão -->
<div class="container-fluid">
  <div>
    <h3>Fornecedor</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-plus-lg me-2"></i>Novo Fornecedor
    </button>
  </div>
</div>
<!-- btn Fornecedor botão -->

<!-- tabela de Fornecedor -->
<main class="table" id="customers_table">
  <section class="table__header">
    <div class="input-group">
      <input type="search" placeholder="Search Data..." />
    </div>
  </section>
  <section class="table__body">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome/fornecedor</th>
          <th>NIF</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th>Endereço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedor$ | async">
          <td>{{ fornecedor.id}}</td>
          <td>{{ fornecedor.nome }}</td>
          <td>{{ fornecedor.nif}}</td>
          <td>{{ fornecedor.telefone }}</td>
          <td>{{ fornecedor.email }}</td>
          <td>{{ fornecedor.endereco }}</td>
          <td>
            <div class="bnt-action">
              <!-- Botão de editar -->
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="populateForm(fornecedor)">
                <i class="bi bi-pencil-square"></i> Editar
              </button>
              <!-- Botão de eliminar -->
              <button type="button" class="btn btn-outline-danger"
                (click)="deleteFornecedor(fornecedor)">
                <i class="bi bi-trash"></i> Eliminar
              </button> 
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
<!-- tabela de Fornecedor -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <form [formGroup]="form" novalidate >

          <div class="modal-header">
            <h1 class="modal-title fs-5">{{ editando ? 'Editar Fornecedor' : 'Criar Fornecedor' }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="cancelarEdicao()"></button>
            </div>
            <!-- input nome -->
          <div class="mb-3">
            <label for="nome" class="form-label">Nome do Fornecedor</label>
            <input type="text" id="nome" name="nome" class="form-control" formControlName="nome" required/>
            <!-- validar o nome -->
            <div class="text-danger" *ngIf="form.get('nome')?.invalid && (form.get('nome')?.touched || form.get('nome')?.dirty)">
              Nome é obrigatório.
            </div>
      
          </div>

          <div class="mb-3">
            <label for="nome" class="form-label">NIF</label>
            <input type="text" id="nif" name="nif" class="form-control" formControlName="nif" required/>
            <div class="text-danger" *ngIf="form.get('nif')?.invalid && (form.get('nif')?.touched || form.get('nif')?.dirty)">
              NIF é obrigatório.
            </div>

          </div>

          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            
            <div class="input-group">
              <span class="input-group-text">
                <img src="https://flagcdn.com/w20/ao.png" alt="Angola" width="20" height="15" />
                &nbsp;+244
              </span>
              <input type="text" class="form-control" formControlName="telefone" mask="000 000 000" placeholder="Ex: 923 456 789"
                maxlength="9" />
            </div>
            <small class="text-danger" *ngIf="form.controls['telefone'].invalid && form.controls['telefone'].touched">Telefone é
              obrigatório.</small>
            <small class="text-danger" *ngIf="form.get('telefone')?.errors?.['minlength']">Telefone deve ter 9 caracteres.</small>
            </div>
            
            <div class="mb-3">
              <label for="endereco" class="form-label">Endereço</label>
              <input id="endereco" class="form-control" type="text" formControlName="endereco" required />
              <small class="text-danger" *ngIf="form.controls['endereco'].invalid && form.controls['endereco'].touched">Endereço
                é obrigatório.
              </small>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" formControlName='email' required />
            <div class="text-danger" *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)">
              <span *ngIf="form.get('email')?.errors?.['required']">Email é obrigatório.</span>
              <span *ngIf="form.get('email')?.errors?.['email']">Formato de email inválido.</span>
            </div>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-success" (click)="criarOuAtualizarUsuario()">
              {{ editando ? 'Atualizar' : 'Salvar' }}
            </button>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>
