<!-- btn Fornecedorbotão -->
<div class="container-fluid">
  <div>
    <h3>Fornecedor</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-plus-lg me-2"></i>Novo Fornecedor
    </button>
  </div>
</div>
<!-- btn Fornecedor botão -->

<!-- tabela de Fornecedor -->
<main class="table" id="customers_table">
  <section class="table__header">
    <div class="input-group">
      <input type="search" placeholder="Search Data..." />
    </div>
  </section>
  <section class="table__body">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome do fornecedor</th>
          <th>NIF</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th>Endereço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedor$ | async">
          <td>{{ fornecedor.id}}</td>
          <td>{{ fornecedor.nome }}</td>
          <td>{{ fornecedor.nif}}</td>
          <td>{{ fornecedor.telefone }}</td>
          <td>{{ fornecedor.email }}</td>
          <td>{{ fornecedor.endereco }}</td>
          <td>
            <!-- <button type="button" class="btn btn-danger"
            (click)="deleteFornecedor(fornecedor.id)">
              <i class="bi bi-trash"></i>
            </button> -->
            <!-- <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="populateForm(fornecedor)">
              <i class="bi bi-pencil-square"></i>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
<!-- tabela de Fornecedor -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="modal-header">
            <h1 class="modal-title fs-5">Criar Fornecedor</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="mb-3">
            <input class="form-control" type="file" />
            <small class="form-text text-muted">Ficheiro menos de 1MB</small>
          </div>

          <div class="mb-3">
            <label for="nome" class="form-label">Nome do Fornecedor</label>
            <input type="text" id="nome" name="nome" class="form-control" formControlName="nome" required/>
          </div>

          <div class="mb-3">
            <label for="nome" class="form-label">NIF</label>
            <input type="text" id="nif" name="nif" class="form-control" formControlName="nif" required/>
          </div>

          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="number" id="telefone" name="telefone" class="form-control"formControlName='telefone' required/>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" formControlName='email' required />
          </div>

          <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" id="endereco" name="endereco" class="form-control" formControlName='endereco' required />
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-success">Salvar</button>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>
