<div class="btn-wrapper">
  <button
  (click)="gerarPDF()"
  [disabled]="!documento || isLoading"
  class="btn-custom-dropdown"
  type="button"
>
  <span *ngIf="!isLoading">Download/Imprimir</span>
  <span *ngIf="isLoading">Gerando PDF...</span>
</button>
<div></div>
</div>

<div class="recibo-wrapper">
<div #recibo class="recibo" *ngIf="documento">
  <header>
    <img
      [src]="documento.empresa.logoURL || 'assets/logo.png'"
      alt="Logo da empresa {{ documento.empresa.nome || '' }}"
    />
    <div class="info-empresa">
      <p><strong>{{ documento.empresa.nome || 'Nome da empresa não disponível' }}</strong></p>
      <p>Endereço: {{ documento.empresa.endereco || 'N/D' }}</p>
      <p>Telefone: {{ documento.empresa.telefone || 'N/D' }}</p>
      <p>NIF: {{ documento.empresa.nif || 'N/D' }}</p>
      <p>Email: {{ documento.empresa.email || 'N/D' }}</p>
    </div>
  </header>

  <section class="detalhes-recibo">
    <h2>{{ visualizarTipoDocumento(documento.tipo) || '' }} Nº {{ documento.numero || '' }}</h2>
    <p><strong>Cliente:</strong> {{ documento.cliente.nome || 'N/D' }}</p>
    <p><strong>Endereço:</strong> {{ documento.cliente.endereco || 'N/D' }}</p>
    <p><strong>Telefone:</strong> {{ documento.cliente.telefone || 'N/D' }}</p>
    <p><strong>Data de emissão:</strong>
      {{ documento.dataEmissao ? (documento.dataEmissao | date:'dd/MM/yyyy HH:mm:ss':'':'pt') : 'N/D' }}
    </p>
  </section>

  <table>
    <thead>
      <tr>
        <th>REF</th>
        <th>DESCRIÇÃO</th>
        <th>QTD</th>
        <th>PR. UNITÁRIO</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of documento.itensFactura || []">
        <td>{{ item.artigo.id || '-' }}</td>
        <td>{{ item.artigo.nome || '-' }}</td>
        <td>{{ item.quantidade || 0 }}</td>
        <td>{{ item.artigo.preco | currency:'AOA':'symbol':'1.2-2':'pt-AO' }}</td>
        <td>{{ item.total | currency:'AOA':'symbol':'1.2-2':'pt-AO' }}</td>
      </tr>
    </tbody>
  </table>

  <section class="total-geral">
    <p><strong>Subtotal:</strong> {{ documento.subTotal | currency:'AOA':'symbol':'1.2-2':'pt-AO' }}</p>
    <p><strong>Total de Impostos:</strong> {{ documento.totalImpostos | currency:'AOA':'symbol':'1.2-2':'pt-AO' }}</p>
    <p><strong>Descontos:</strong> {{ documento.totalDescontos | currency:'AOA':'symbol':'1.2-2':'pt-AO' }}</p>
    <p><strong>Total Geral:</strong> {{ documento.total | currency:'AOA':'symbol':'1.2-2':'pt-AO' }}</p>
  </section>

  <footer>
    <p>Documento emitido para fins de formação ou testes. Não tem validade fiscal.</p>
  </footer>
</div>
</div>


