<app-top-loading-bar></app-top-loading-bar>
<div *ngIf="updateMessage" class="update-progress">
  {{ updateMessage }}
</div>

<div *ngIf="mostrarLayout && !carregando" class="body">

  <div class="header">
    <app-header></app-header>
    <div class="content">
      <div class="sidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<footer class="dock-menu"></footer>


 <app-startup-component *ngIf="carregando"></app-startup-component>
<router-outlet *ngIf="!mostrarLayout"></router-outlet>
