
<div *ngIf="mostrarLayout && !carregando" class="body">
  <div class="header">
    <app-header></app-header>
    <div class="content">
      <div class="sidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<footer class="dock-menu"></footer>


<!-- Se não mostrar layout, ainda precisa do router-outlet para login -->
 <app-startup-component *ngIf="carregando"></app-startup-component>
<router-outlet *ngIf="!mostrarLayout"></router-outlet>
