
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Gravitas+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
font-family: 'Poppins',sans-serif;
font-style: normal;
box-sizing: border-box;
  }

  // app-header {
  //   height: 100px;
  //   width: 100%;
  //   position: fixed;
  // }
  // app-sidebar {
  //   width: 240px;
  //   height: 100vh;
  //   position: fixed;
  //   z-index: 1000;
  // }

  // main {
  //   position: relative;
  //   margin-left: 260px;
  //   top: 100px;
  // }
a {
  cursor: pointer;
  text-decoration: none;
}
/* Custom scrollbar styling */
.body {

  scrollbar-width: thin;
}

.body {
   scroll-behavior: smooth;
   padding-top: 70px;
  min-height: 100vh;
 overflow-y: auto;

  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "header"
    "outlet";
  grid-template-rows: 80px auto;

  .body::-webkit-scrollbar {
  display: none;
}

  .header {
    grid-area: header;
  }

  .outlet {
    grid-area: outlet;
    padding: 90px 0 100px 0;
      margin-top: 70px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 100px 0;
    overflow: visible;
  }
}

